@font-face {
  font-family: "ImpactUnicode";
  src: url("../../../assets/fonts/unicode.impact.ttf") format("woff2");
}
.results-main-container {
  background-color: #f1f1f1;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
.format-date {
  font-size: 22px;
  margin-left: 3%;
  font-family: "Poppins", sans-serif;
}
.finish-titles {
  letter-spacing: 1px;
  color: black;
  text-align: center;
  font-size: 38px;
  font-family: "ImpactUnicode", sans-serif;
}
.title-results {
  letter-spacing: 1px;
  color: black;
  text-align: center;
  font-size: 38px;
  font-family: "ImpactUnicode", sans-serif;
}
.score-today {
  text-align: center;
  font-size: 18px;
  padding: 2% 3%;
  color: black;
  font-family: "Poppins", sans-serif;
}
.esa44 {
  color: black;
  font-family: "ImpactUnicode", sans-serif;
  letter-spacing: 1px;
  font-style: italic;
}
.please-evaluate {
  text-align: center;
  margin: 3% 3%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.bottom-text {
  padding-top: 6%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 87%;
  margin: auto;
  font-style: italic;
}
.tab-text-impact {
  width: 76%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 3% 2% 3% 2%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.princetone-link1 {
  color: #e37d37;
  font-family: "Poppins", sans-serif;
}
.princetone-link2 {
  color: green;
  font-family: "Poppins", sans-serif;
}
.princetone-link3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.split {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-top: 2%;
}
.note {
  font-weight: bold;
}
@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white;
  }
  .results-main-container {
    background-color: white;
    display: block;
    visibility: visible;
    width: 98%;
  }
  .finish-titles {
    font-family: "Arial Black", "Bebas Neue", "Helvetica", sans-serif;
    font-size: 38px;
    padding: 1%;
  }
  .score-today,
  .please-evaluate {
    text-align: center;
    padding: 2% 3%;
    color: black;
    font-size: 18px;
  }
}
@media print and (max-width: 990px) {
  .results-main-container {
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
  .tab-text-impact {
    font-size: 18px;
    width: 85%;
  }
}
@media print and (max-width: 780px) {
  .finish-titles {
    font-size: 30px;
  }
  .no-print {
    display: none !important;
  }
}
@media print and (max-width: 730px) {
  .class-td {
    font-size: 16px;
  }
  .no-print {
    display: none !important;
  }
}
@media print and (max-width: 590px) {
  .no-print {
    display: none !important;
  }
}

@media print and (max-width: 480px) {
  .no-print {
    display: none !important;
  }
  .finish-titles {
    font-size: 26px;
  }
}
@media screen and (max-width: 990px) {
  .results-main-container {
    width: 90%;
  }
  .tab-text-impact {
    font-size: 18px;
    width: 85%;
  }
}
@media screen and (max-width: 715px) {
  .results-main-container {
    width: 90%;
  }
  .bottom-text {
    font-size: 16px;
  }
  .split {
    font-size: 16px;
  }
  .tab-text-impact,
  .princetone-link1,
  .princetone-link2,
  .princetone-link3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 595px) {
  .results-main-container {
    width: 90%;
  }
  .tab-text-impact {
    border: double;
  }
}
@media screen and (max-width: 570px) {
  .results-main-container {
    width: 98%;
  }
}
@media screen and (max-width: 540px) {
  .tab-text-impact {
    text-align: center;
  }
}
@media screen and (max-width: 485px) {
  .tab-text-impact {
    padding: 2% 1% 2% 1%;
  }
}
@media screen and (max-width: 414px) {
  .finish-titles {
    font-size: 28px;
    padding-top: 0;
  }
  .format-date {
    font-size: 15px;
    margin-left: 3%;
  }
  .results-table {
    border: 4px solid black;
    width: 90%;
  }

  .score-today {
    text-align: center;
    margin: 3% 3%;
    font-size: 14px;
  }
  .please-evaluate {
    text-align: center;
    margin: 7% 5%;
    font-size: 14px;
  }
  .bottom-text {
    padding-top: 6%;
    font-size: 14px;
    text-align: center;
    width: 87%;
    margin: auto;
    font-style: italic;
  }
  .tab-text-impact {
    border: double;
    border-width: 4px;
    width: 86%;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-size: 14px;
  }
  .princetone-link1,
  .princetone-link2,
  .princetone-link3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .results-main-container {
    width: 100%;
  }
  .score-today {
    text-align: center;
    padding: 1% 2%;
    color: black;
    font-size: 18px;
  }
  .please-evaluate {
    text-align: center;
    margin: 2% 2%;
    font-size: 18px;
  }
}
