dnode_modules/
client/node_modules/
functions/node_modules/
client/.env
functions/sendgrid.env
function/.env
functions/.env
sendgrid.env
# Ignore firebase-debug.log
firebase-debug.log

# Ignore other sensitive files (you can list more files here if needed)
.env
node_modules
