@font-face {
    font-family: "ImpactUnicode";
    src: url("../assets/fonts/unicode.impact.ttf") format("truetype");
  }
  .header-main {
    margin: 0 0 5% 0;
    padding: 0;
  }
  .background-image {
    background-image: url("https://assets.zyrosite.com/mP47Mwo0WQhVBkl5/mandala-4282571_1920-mnl9qvzJEZf1DePR.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 315px; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 5rem;
    color: white;
    text-align: center;
    font-family: "ImpactUnicode", sans-serif;
    letter-spacing: 1px;
}