@font-face {
  font-family: "ImpactUnicode";
  src: url("../assets/fonts/unicode.impact.ttf") format("truetype");
}
.finish-main-container {
  background-color: #fefefe;
  width: 100%;
  max-width: none;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 3%;
}

.finish-titles {
  letter-spacing: 1px;
  color: black;
  text-align: center;
  font-size: 38px;
  font-family: "ImpactUnicode", sans-serif;
  padding-top: 3%;
}

.retake {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 15%;
  height: auto;
  margin-right: 2%;
  margin-top: 2%;
  cursor: pointer;
}

.title-results {
  letter-spacing: 1px;
  color: black;
  text-align: center;
  font-size: 38px;
  font-family: "ImpactUnicode", sans-serif;
}

.score-today {
  text-align: center;
  padding: 2% 3%;
  color: black;
  font-size: 28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.results-div {
  padding-bottom: 5%;
}

.results-table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 9px solid black;
  width: 66%;
}

.class-top {
  background-color: #c7cec9;
}

.class-bottom {
  background-color: #fefefe;
}

.class-th {
  border-bottom: 1px solid grey;
  border-color: grey;
  font-family: "ImpactUnicode", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 22px;
  color: black;
  text-align: center;
  padding: 1% 7% 1% 7%;
  width: 22%;
}

.class-td {
  border-right: 2px solid #c3c2c2;
  border-bottom: 1px solid #c3c2c2;
  text-align: center;
  width: 22%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  height: 42px;
  color: black;
}

.class-td-perspective {
  border-bottom: 1px solid #c3c2c2;
  height: 100px;
  text-align: center;
  width: 22%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  height: 42px;
  color: black;
}

.thank-you {
  text-align: center;
  margin: 3% 3%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.email-print-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 4%;
}
.email-print-texts {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button-email {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e37d37;
  padding: 10px;
  border-radius: 50px;
  border: none;
  margin-right: 1%;
}
.button-email:hover {
  background-color: #267b7d;
  cursor: pointer;
}
.button-print {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e37d37;
  padding: 10px;
  border-radius: 50px;
  border: none;
  margin-left: 1%;
  cursor: pointer;
}
.button-print:hover {
  background-color: #267b7d;
}
@media print {
  body {
    visibility: visible;
  }

  .print-content {
    display: block;
    visibility: visible;
    width: 100%;
    margin: auto;
  }

  .no-print {
    display: none;
  }
  table {
    /* width: 100%; */
    table-layout: fixed;
    page-break-before: auto;
    page-break-after: auto;
    border-collapse: collapse;
  }
  .results-table {
    width: 66%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 9px solid black;
  }
  .class-th {
    width: 22%;
    border-bottom: 1px solid grey;
    border-color: grey;
    font-family: "ImpactUnicode", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 1% 7% 1% 7%;
  }
  .class-td {
    width: 22%;
    border-right: 2px solid #c3c2c2;
    border-bottom: 1px solid #c3c2c2;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    height: 42px;
    color: black;
  }
 .class-td-perspective {
  width: 22%;
  border-bottom: 1px solid #c3c2c2;
  height: 100px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  height: 42px;
  color: black;
 }
  .class-tr {
    
    page-break-inside: avoid;
  }
}
