<script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

<!-- This will be in the parent webpage where the component will render -->
<div id="root"></div>

<script>
  function MyComponent() {
    const [end, setEnd] = React.useState(false);

    const handleClick = () => {
      console.log("clicked");
      setEnd(true);
      // Send message to parent (which can be received by second embed)
      window.parent.postMessage({ type: "finished", end: true }, "*");
    };

    React.useEffect(() => {
      const handleMessage = (event) => {
        if (event.data.type === "finished") {
          const end = event.data.end;
          console.log("Received updated answers:", end);
        }
      };

      window.addEventListener("message", handleMessage);

      return () => {
        window.removeEventListener("message", handleMessage);
      };
    }, []);

    return React.createElement(
      "button",
      { className: "end-message-container", onClick: handleClick },
      "Click to Finish"
    );
  }

  // Render directly to the page (in the container with id 'react-root')
  ReactDOM.render(
    React.createElement(MyComponent),
    document.getElementById("root")
  );
</script>
