<script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

<!-- This will also render into the parent webpage -->
<div id="react-root-second"></div>

<script>
  function Finish() {
    const [end, setEnd] = React.useState(false);

    React.useEffect(() => {
      const handleMessage = (event) => {
        if (event.data.type === "finished") {
          const end = event.data.end;
          console.log("Received updated answers:", end);
          setEnd(end); // Update state to trigger conditional rendering
        }
      };

      window.addEventListener("message", handleMessage);

      return () => {
        window.removeEventListener("message", handleMessage);
      };
    }, []);

    if (end) {
      return React.createElement(
        "p",
        { className: "end-message-container" },
        "Finished in Second Embed"
      );
    }

    // If not finished, return this message
    return React.createElement("h1", null, "Not finished yet");
  }

  // Render directly to the page (in the container with id 'react-root-second')
  ReactDOM.render(
    React.createElement(Finish),
    document.getElementById("react-root-second")
  );
</script>
