@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2-variations");
  font-weight: 200;
  /* font-stretch: 75% 100%; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations");
  font-weight: 200;
  /* font-stretch: 75% 100%; */
  font-style: italic;
  font-display: swap;
}

/* body { font-family: "Open Sans", sans-serif; } */

.footer-container {
  background-color: black;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  width: 100%;
  font-family: "Open Sans", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
}
.contact-us {
  margin-bottom: 1%;
  cursor: pointer;
  text-align: center;
   font-size: 18px !important;
  font-family: "Open Sans", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;

}
.contact-text {
  color: #08ffb9;
  letter-spacing: 1px;
  /* font-family: "Poppins", sans-serif; */
  margin-top: 2%;
/* font-family: "Open Sans", sans-serif !important; */
  font-size: 18px;
}
.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1%;
}
.logo1 {
  color: #f5f3f3;
  height: 28px;
  width: 28px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}
/* .logo2 {
  color: #f5f3f3;
  height: 40px;
  width: 40px;
  cursor: pointer;
} */
.middle-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #08ffb9;
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px;
}
.link-text {
  cursor: pointer;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans", sans-serif !important;
  margin: auto;
  font-size: 18px;
}
.terms {
  display: flex;
  flex-direction: column;
  color: #08ffb9;
  margin-top: 2%;
    font-family: "Open Sans", sans-serif !important;
}
.company-container {
  margin-top: 2%;
  text-align: center;
}
.company {
  color: #08ffb9;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
    /* font-family: "Open Sans", sans-serif !important; */
  font-size: 18px;
  font-weight: 200 !important;
   font-optical-sizing: auto;
}
.company-logo {
  color: #08ffb9;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  width: 40px !important;
  height: 40px !important;
  margin-right: 5px;
    font-size: 20px;   /* controls size of © */
  line-height: 1;    /* keeps it snug */
}
@media screen and (max-width: 670px) {
  .footer-container {
  margin-top: 0;

}
}
@media screen and (max-width: 414px) {
  .contact-us {
    margin-top: 2%;
    font-size: 14px;
  }
  .logo1 {
    color: #f5f3f3;
    height: 18px;
    width: 18px;
    padding: 0 5px 0 5px;
    cursor: pointer;
  }
  .middle-text {
    display: flex;
    flex-direction: column;
    color: #f5f3f3;
    letter-spacing: 1px;
    margin-top: 4%;
    font-size: 14px;
  }
  .terms {
    padding: 3%;
    font-size: 14px;
  }
  .company {
    padding: 3%;
    font-size: 14px;
  }
}
