.footer-container {
  background-color: #403611;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  width: 100%;
}
.contact-us {
  margin-bottom: 2%;
  cursor: pointer;
  text-align: center;
}
.contact-text {
 color: #f5f3f3;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo1 {
  color: #f5f3f3;
  height: 25px;
  width: 25px;
  padding: 0 5px 0 5px;
  cursor: pointer;

}
.logo2 {
  color: #f5f3f3;
  height: 40px;
  width: 40px;
  /* padding: 0 5px 0 5px; */
  cursor: pointer;
}
.middle-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #f5f3f3;
}
.link-text {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin: auto;
}
.terms {
  display: flex;
  flex-direction: column;
  color: #f5f3f3;
  margin-top: 2%;
}
.company-container {
  margin-top: 2%;
  text-align: center;
}
.company {
  color: #f5f3f3;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 414px) {
  .contact-us {
    margin-top: 2%;
    font-size: 14px;
  }
  .logo1 {
    color: #f5f3f3;
    height: 18px;
    width: 18px;
    padding: 0 5px 0 5px;
    cursor: pointer;
  }
  .middle-text {
    display: flex;
    flex-direction: column;
    color: #f5f3f3;
    letter-spacing: 1px;
    margin-top: 4%;
    font-size: 14px;
  }
  .terms {
    padding: 3%;
    font-size: 14px;
  }
  .company {
    padding: 3%;
    font-size: 14px;
  }
}
