@font-face {
    font-family: "ImpactUnicode";
    src: url("../assets/fonts/unicode.impact.ttf") format("truetype");
  }
  .header-main {
    margin: 0;
    padding: 0;
    color: black;
  }
  .background-image {
    /* background-image: url("https://images.pexels.com/videos/1307329/free-video-1307329.jpg?auto=compress&cs=tinysrgb&fit=crop&h=630&w=1200"); */
    /* background-image: url("https://assets.zyrosite.com/mP47Mwo0WQhVBkl5/mandala-4282571_1920-mnl9qvzJEZf1DePR.jpg"); */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 315px; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 5rem;
    color: white;
    text-align: center;
    font-family: "ImpactUnicode", sans-serif;
    letter-spacing: 1px;
}
@media screen and (max-width: 414px) {
  .header-main {
    margin: 0;
  }
  .background-image {
    height: 215px; 
}
  .header-text {
    font-size: 3rem;
    padding: 3%;
}
}
